anyio==4.14.2
click==8.4.2
docutils==0.23
f90wrap==0.3.0
h11==0.16.0
idna==3.19
itsdangerous==2.2.0
jedi==0.19.2
loro==1.13.2
marimo==0.24.0
Markdown==3.10.3
msgspec==0.21.1
narwhals==2.25.0
numpy==2.5.2
packaging==26.3
parso==0.8.7
psutil==7.2.2
Pygments==2.21.0
pymdown-extensions==11.0.1
python-multipart==0.0.32
PyYAML==6.0.3
pyzmq==27.2.0
starlette==1.6.0
tomlkit==0.15.1
uvicorn==0.52.4
websockets==17.0.1
